<% include header.ejs %>

    <div class="row content">
        <div class="col-sm-8">
            <div class="main">
                <form method="POST"  enctype="multipart/form-data">
                    <div class="form-group form-inline">
                        <input required type="text" class="form-control" placeholder="product-code" name="code" id="code">
                        <input required type="text" class="form-control" placeholder="product-name" name="name" id="name">
                    </div>
                    <div class="form-group form-inline">
                        <input required type="number" class="form-control" placeholder="quantity" name="quantity">
                        <input required type="text" class="form-control price" placeholder="price" name="price">
                        <span class="input-group-addon">VNĐ</span>
                    </div>
                    <div class="form-group form-inline">
                        <input required type="text" class="form-control" placeholder="unit" name="unit" id="unit">
                        <input required type="text" class="form-control" placeholder="category" name="cate" id="cate">

                    </div>

                    <div class="form-group">
                        <input type="text" class="form-control" placeholder="Enter image-link online" id="linkimage" name="image">
                        <div style="margin-top: 16px">
                            <a class="title-upload">OR UPLOAD:</a>
                            <input type="file" name="upload" id="upload">
                        </div>
                    </div>
                    <div style="margin-bottom: 0px" class="form-group form-inline">
                        <a class="check image">CHECK IMAGE</a>
                        <a class="check reset" style="background: #e02424; font-weight: 700">RESET</a>
                        <button type="submit" id="submit" class="btn btn-success">SUBMIT</button>
                    </div>
                </form>
            </div>
        </div>
        <div class="col-sm-4 sidenav">
            <div class="main">
                <img id="preview" src="image/placeholder.jpg" width="100%">
            </div>
        </div>
    </div>
    <% include footer.ejs %>