<% include header.ejs %>
    
    <div class="row content">
        <div class="col-sm-8">
            <div class="main">
                <form method="POST">
                    <div class="form-group form-inline">
                        <input required type="text" class="form-control" placeholder="Enter name" name="name">
                    </div>
                    <div class="form-group form-inline">
                        <input required type="number" class="form-control" placeholder="Enter age" name="age">
                    </div>
                    <div class="form-group form-inline">
                        <input type="text" class="form-control" placeholder="Enter imagelink" id="link-image" name="image">
                        <a class="check">CHECK</a>
                    </div>
                    <button type="submit" id="submit" class="btn btn-success">SUBMIT</button>
                </form>
            </div>
        </div>
        <div class="col-sm-4 sidenav">
            <div class="main">
                <img id="preview" src="http://hdimages.org/wp-content/uploads/2017/03/placeholder-image4.jpg" width="100%">
            </div>
        </div>
    </div>




    <% include footer.ejs %>