</div>

<div class="popup" data-popup="popup-1">
    <div class="popup-inner">
        <div class="row content">
            <div class="col-md-12">
                <p>
                    <b>TÊN: </b>
                    <a class="pop-n"></a>
                </p>
                <p>
                    <b>SỐ LƯỢNG TRONG KHO: </b>
                    <a class="pop-q"></a><a class="pop-u"></a>
                </p>
                <img class="pop-i" width="100%" src="" alt="">
            </div>
            <!-- <div class="col-md-6">
                <img width="100%" src="https://katzenworld.co.uk/wp-content/uploads/2017/10/Why-Your-Cat-Simply-Cant-Resist-Catnip-Cover-Image.jpeg" alt="">
            </div> -->
        </div>
        </p>
        <a class="popup-close" data-popup-close="popup-1" href="#">x</a>
    </div>
</div>
<footer class="footer-distributed">

    <div class="footer-right">

        <a href="#" style=" background: #005cbd">
            <i class="fa fa-facebook"></i>
        </a>
        <a href="#" style=" background: #de1c2e">
            <i class="fa fa-google"></i>
        </a>
        <a href="#" style=" background: #1b88fd">
            <i class="fa fa-twitter"></i>
        </a>

    </div>

    <div class="footer-left">

        <p class="footer-links">
            <a href="#">Home</a>
            ·
            <a href="#">Blog</a>
            ·
            <a href="#">Pricing</a>
            ·
            <a href="#">About</a>
            ·
            <a href="#">Faq</a>
            ·
            <a href="#">Contact</a>
        </p>

        <p>TỰ HỌC 247 &copy; 2018</p>
    </div>

</footer>
<!-- Optional JavaScript -->
<!-- jQuery first, then Popper.js, then Bootstrap JS -->
<script src="jquery-3.2.1.min.js"></script>
<script src="jquery-ui.js"></script>
<script src="asset-table/jquery.dataTables.min.js"></script>
<script src="asset-table/dataTables.bootstrap4.min.js"></script>
<script src="asset-table/dataTables.responsive.min.js"></script>
<script src="popper.min.js"></script>
<script src="bootstrap.min.js"></script>
<script src="socket.io.js"></script>
<script src="jquery.js"></script>
</body>

</html>