<div class="footer">

</div>
</div>

<div class="popup" data-popup="popup-1">
    <div class="popup-inner">
        <div class="row content">
            <div class="col-md-12">
                <p>
                    <b>NAME: </b>
                    <a class="pop-n"></a>
                </p>
                <p>
                    <b>AGE: </b>
                    <a class="pop-a"></a>
                </p>
                <img class ="pop-i" width="100%" src="https://katzenworld.co.uk/wp-content/uploads/2017/10/Why-Your-Cat-Simply-Cant-Resist-Catnip-Cover-Image.jpeg" alt="">
            </div>
            <!-- <div class="col-md-6">
                <img width="100%" src="https://katzenworld.co.uk/wp-content/uploads/2017/10/Why-Your-Cat-Simply-Cant-Resist-Catnip-Cover-Image.jpeg" alt="">
            </div> -->
        </div>
        </p>
        <a class="popup-close" data-popup-close="popup-1" href="#">x</a>
    </div>
</div>
<!-- Optional JavaScript -->
<!-- jQuery first, then Popper.js, then Bootstrap JS -->
<script src="jquery-3.2.1.min.js"></script>
<script src="popper.min.js"></script>
<script src="bootstrap.min.js"></script>
<script src="javascript.js"></script>
</body>

</html>