<!doctype html>
<html lang="en">

<head>
    <title>LOCAL</title>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <link rel="shortcut icon" type="image/x-icon" href="tick.png" />
    <link rel="stylesheet" href="style.css">
    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="bootstrap.min.css">
</head>

<body>
    <div class="container">

        <nav class="navbar navbar-expand-md navbar-dark bg-dark navbar-fixed-top">
            <a class="navbar-brand" href="/">HUYNH</a>
            <button class="navbar-toggler hidden-lg-up" type="button" data-toggle="collapse"></button>
            <div class="collapse navbar-collapse" id="collapsibleNavId">
                <ul class="navbar-nav mr-auto mt-2 mt-lg-0">
                    <li class="nav-item">
                        <a class="nav-link" target="_blank" href="#">NEW PRODUCT</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="#">LIST PRODUCTS</a>
                    </li>
                </ul>
                <form class="form-inline my-2 my-lg-0">
                    <input class="form-control mr-sm-2" type="text" placeholder="Search">
                    <button class="btn btn-outline-success my-2 my-sm-0" type="submit">Search</button>
                </form>
            </div>
        </nav>