<!doctype html>
<html lang="en">

<head>
    <title>LOCAL</title>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <link rel="shortcut icon" type="image/x-icon" href="tick.png" />
    <link href="https://fonts.googleapis.com/css?family=Nunito" rel="stylesheet">
    <link rel="stylesheet" href="style.css">
    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="bootstrap.min.css">
    <!-- <link rel="stylesheet" href="https://cdn.datatables.net/1.10.16/css/dataTables.bootstrap4.min.css"/> -->
    <link rel="stylesheet" href="asset-table/dataTables.bootstrap4.min.css">
    <link rel="stylesheet" href="asset-table/responsive.bootstrap4.min.css">
</head>

<body>
    <div class="container">
        <nav class="navbar navbar-expand-md navbar-dark bg-dark navbar-fixed-top">
            <a class="navbar-brand" href="/">HUYNH</a>
            <button class="navbar-toggler hidden-lg-up" type="button" data-toggle="collapse"></button>
            <div class="collapse navbar-collapse" id="collapsibleNavId">
                <ul class="navbar-nav mr-auto mt-2 mt-lg-0">
                    <li class="nav-item">
                        <a class="nav-link" target="_blank" href="/add">NEW PRODUCT</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="/">LIST PRODUCTS</a>
                    </li>
                </ul>
            
            </div>
        </nav>