<% include header.ejs %>
    <div class="main">
        <% array.forEach((i)=>{ %>
            <div class="alert alert-success" role="alert">
                HELLO WORLD... My name is
                <%= i.name %> - <%= i.age %> years old
            </div>
        <% }) %>
    </div>

<% include footer.ejs %>